<!-- Header -->
<div class="container-fluid header navj">
  <div class="col-md-2">

  </div>
  <!-- Logo Udinus -->
  <div class="col-md-6 center">
    <div id="logo">
      <a class="" href="http://dinus.ac.id/" ><img src="http://dinus.ac.id/img/logo dinus university.png" style="max-width:400px;padding: 0px;"></a>
    </div>
  </div>

  <!-- Konten disamping -->
  <div class="col-md-4 center">
    <h3 class="white">Frequently Asked Question</h3>
  </div>
</div>

<!-- Navbar -->
<nav class="inav navbar navbar-default navj" style="margin-bottom:0px;">
  <div class="container-fluid" style="">
    <div class="">
      <div class="navbar-header">
        <a class="navbar-toggle" style="float:left;border: none;" href="http://dinus.ac.id/"><img src="http://dinus.ac.id/img/logox2.png" style="max-width:50%;padding:0px;"></a>
      </div>
      <!-- Menu -->
      <div class="fontmenu">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav modif3">
              <li class="menu" id="ilanghome"><a href="http://dinus.ac.id/" style="border-right: 1px solid #245580;"><strong><i class="fa fa-home"></i></strong></a></li>
              <li class="menu dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="border-right: 1px solid #245580;">ADMISSION <!-- <span class="caret"></span>--></a>
                  <ul class="dropdown-menu menu-utama">

                      <li class="dropdown-submenu">
                          <a tabindex="0" data-toggle="dropdown" style="cursor:pointer;">Undergraduate</a>
                          <ul class="dropdown-menu">
                              <li><a href="http://dinus.ac.id/why">Why UDINUS</a></li>
                              <li><a href="http://dinus.ac.id/aply">Register to Dinus</a></li>
                              <li><a href="http://dinus.ac.id/fees">Fees & Funding</a></li>
                              <li><a href="http://dinus.ac.id/scholarship">Scholarship</a></li>
                              <li><a href="http://dinus.ac.id/international">International Students</a></li>
                              <li><a href="http://ilcs.dinus.ac.id/" target="_blank">ILCS</a></li>
                              <li><a href="http://cflt.dinus.ac.id/" target="_blank">CLFT</a></li>
                          </ul>
                      </li>
                      <li><a href="http://pps.dinus.ac.id/new/index.php" target="_blank">Graduate</a></li>
                      <li><a href="http://dinus.ac.id/prospective/how-to-access" target="_blank">How To Access</a></li>
                  </ul>
              </li>

              <li class="menu"><a href="http://dinus.ac.id/news" style="border-right: 1px solid #245580;">NEWS & EVENTS</a></li>

                <li class="menu dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="border-right: 1px solid #245580;">PROGRAMS</a>
                    <ul class="dropdown-menu menu-utama">

                        <li class="dropdown-submenu">
                            <a tabindex="0" data-toggle="dropdown" style="cursor:pointer;">Faculty</a>
                            <ul class="dropdown-menu">
                                <li><a href="http://dinus.ac.id/faculty/39/computer-science">Faculty of Computer Science</a></li>
                                <li><a href="http://dinus.ac.id/faculty/40/economics-business">Faculty of Economics and Business</a></li>
                                <li><a href="http://dinus.ac.id/faculty/42/humanities">Faculty of Humanities</a></li>
                                <li><a href="http://dinus.ac.id/faculty/44/health-science">Faculty of Health Science</a></li>
                                <li><a href="http://dinus.ac.id/faculty/45/enginering">Faculty of Enginering</a></li>
                                <li><a href="http://pps.dinus.ac.id">Graduate</a></li>
                            </ul>
                        </li>
                        <li><a href="http://dinus.ac.id/program">Featured Programs</a></li>
                        <li><a href="http://dinus.ac.id/collaboration">Collaboration</a></li>
                        <li><a href="http://lppm.dinus.ac.id">Research</a></li>
                        <!--                                      <li><a href="--><!--">International Undergraduate</a></li>-->
                    </ul>
                </li>

                <!--                        <li class="menu"><a href="--><!--">Collaboration</a></li>-->
                <!--                        <li class="menu"><a href="--><!--">Research</a></li>-->

                <!--                        <li class="menu"><a href="--><!--">Dinus Life</a></li>-->

                <li class="menu dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="border-right: 1px solid #245580;">ABOUT</a>
                    <ul class="dropdown-menu menu-utama">
                        <li><a href="http://dinus.ac.id/greetings">Greetings From Rector</a></li>
                        <li><a href="http://dinus.ac.id/vision">Vision & Mission</a></li>
                        <li><a href="http://dinus.ac.id/organization">Organization</a></li>
                        <li><a href="http://dinus.ac.id/accreditation">Accreditation</a></li>
                        <!-- <li><a href="">Jobs & Carreer</a></li> -->
                        <li><a href="http://dinus.ac.id/location">Location</a></li>
                        <li><a href="http://dinus.ac.id/facility">Facilities</a></li>
                        <li><a href="http://dinus.ac.id/life">Dinus Life</a></li>
                        <li><a href="http://dinus.ac.id/about/52/history-dinus">History Of Dinus</a></li>
                        <li><a href="http://dinus.ac.id/hospitality">Hospitality</a></li>
                        <li><a href="http://www.dinus.ac.id/faq/" target="_blank">FAQ </a></li>
                    </ul>
                </li>
                <li class="menu dropdown">
                    <a href="localhost:4200" class="dropdown-toggle" data-toggle="dropdown" style="border-right: 1px solid #245580;">FAQ</a>
                </li>
                <li id="lain" class="menu dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="border-right: 1px solid #245580;">OTHERS</a>
                    <ul class="dropdown-menu menu-utama">
                        <li data-toggle="tooltip" data-placement="bottom" title="Page for Dinus prospective students"><a href="http://dinus.ac.id/prospective" style="">Prospective Students</a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Page for Dinus Students"><a href="http://dinus.ac.id/student" style="">Students</a></li>


                        <li data-toggle="tooltip" data-placement="bottom" title="Page for Dinus Staff or Lecturer"><a href="http://dinus.ac.id/staf" style="">Staff</a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Page for Dinus Student's Parents"><a href="http://dinus.ac.id/parents" style="">Parents</a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="International"><a href="http://dinus.ac.id/ia" target="_blank" style="">International Office</a></li>
                        <li data-toggle="tooltip" data-placement="bottom" title="Page for Dinus Alumni"><a href="http://alumni.dinus.ac.id/">Alumni</a></li>
                    </ul>
                </li>


                <button type="button" id="sr" class="btn btn-default mna menu dropdown hide" aria-label="Left Align">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </ul>
            <style>
                a.menu2{
                    padding: 10px 10px;
                }
                a.menu2:hover{
                    color: yellow;
                }
            </style>


            <!-- <ul class="nav navbar-nav navbar-right menu2 hide menu2atas">
                <li data-toggle="tooltip" data-placement="bottom" title="Halaman bagi calon mahasiswa UDINUS"><a href="http://dinus.ac.id/prospective" style="">Calon Mahasiswa</a></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Halaman bagi mahasiswa UDINUS"><a href="http://dinus.ac.id/student" style="">Mahasiswa</a></li>


                <li data-toggle="tooltip" data-placement="bottom" title="Halaman bagi staf atau dosen"><a href="http://dinus.ac.id/staf" style="">Dosen | Staf</a></li>

                <li data-toggle="tooltip" data-placement="bottom" title="Halaman bagi orang tua peserta didik UDINUS"><a href="http://dinus.ac.id/parents" style="">Orang Tua</a></li>
                <li data-toggle="tooltip" data-placement="bottom" title="International"><a href="http://dinus.ac.id/ia" target="_blank" style="">International Office</a></li>
                <li data-toggle="tooltip" data-placement="bottom" title="Halaman bagi Alumni UDINUS"><a href="http://dinus.ac.id/alumni" style="">Alumni</a></li>

                <li style="margin-right: 5px;"><a href="http://admisi.dinus.ac.id/pmbonline/menu/ppmb" target="_blank" style="padding: 0px;padding-top: 10px;padding-bottom: 5px;"><img src="http://dinus.ac.id/img/icon/pengumuman pmdk 1.png" style="width:100%;max-width: 200px;"></a></li>

            </ul> -->


            <style>
                .form-en {

                    color: #FFFFFF;
                    background-color: #033061;
                    background-image: none;
                    border: 1px solid #245580;
                    border-radius: 0px;
                }
                .btn-en {
                    color: #AFB9C5;
                    background-color: #033061;
                    border-color: #245580;
                }
                .btn-en:hover {
                    color: #FFFFFF;
                    background-color: #033061;
                    border-color: #245580;
                }
            </style>
            <form id='src' class="navbar-form navbar-right menuatas" role="search" method="POST" action="http://dinus.ac.id/Search">
                <div class="form-group">
                    <input type="text" class="form-control form-en input-sm" id="nama" name="nama" required placeholder="Cari . . .">
                </div>
                <div class="form-group">
                    <select class="form-control form-en input-sm" onchange="change(event)" name="kategori">
                        <option>People</option>
                        <option>Paper</option>
                        <option>News</option>
                        <option>Scholarship</option>
                    </select>
                </div>
                <script type="text/javascript">
                    function change(e){
                        if($(e.target).val()=="Scholarship"){$("#nama").addClass("hide");$("#nama").val("Scholarship");}
                        else{$("#nama").removeClass("hide");$("#nama").val("");}
                    }
                </script>
                <button type="submit" name="search" class="btn btn-default btn-sm btn-en"><i class="fa fa-search">Search</i></button>
                <a href="http://id.dinus.ac.id/" title="Indonesia (ID)" target="_blank"><img src="http://dinus.ac.id/img/icon/indo flag.ico" width="25px" style="margin-left:10px;"></a>
            </form>



        </div>
      </div>
    </div>
  </div>
</nav>
