<style media="screen">
.modal {
  display:block;
}
</style>

<div id="myModal" class="modal fade in">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h2 class="modal-title">Berasal dari kalangan manakah anda ?</h2>
      </div>
      <div class="modal-body text-center">
        <button  class="side btn btn-info btn-lg" data-dismiss="modal" routerLink="/">Home </button>
        <button  class="side btn btn-info btn-lg" data-dismiss="modal" routerLink="/ask-a-question/mahasiswa">Mahasiswa </button>
        <button  class="side btn btn-info btn-lg" data-dismiss="modal" routerLink="/ask-a-question/dosen">Dosen </button>
        <button  class="side btn btn-info btn-lg" data-dismiss="modal" routerLink="/ask-a-question/umum">Umum </button>
      </div>
    </div>
  </div>
</div>
