<ol>
	<li>Q : Dimana saya bisa melihat status pembayaran?</li>A : Di Siadin Mahasiswa.<br><br><li>Q : Apakah ada keringanan biaya uang gedung untuk jalur PMDK?</li>A : Ada, sebesar 25%.<br><br><li>Q : Apa syarat untuk membayar wisuda?</li>A : Sudah masuk di data yudisium.<br><br><li>Q	: Bagaimana jika mahasiswa sudah membayar uang SPP, tetapi di dalam data tidak terdaftar?</li>A	: Konfirmasi ke BIRO Keuangan.<br><br><li>Q	: Bagaimana jika mahasiswa ingin mengetahui informasi pembayaran uang gedung?</li>A	: Menghubungi biro keuangan, atau akses admisi dinus.ac.id/pmbonline
</ol>
